$aside-width: 230px;

#filters {
  @include large {
    min-width: $aside-width;
  }
  @include computer {
    min-width: $aside-width;
  }
  @include laptop {
    min-width: $aside-width;
  }
  min-width: $aside-width;
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2b2b2b;
    margin: 15px 0 20px 0;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    color: #2b2b2b;
    margin: 0;
  }

  .filter-block__selector {
    padding-left: 0;
    ul {
      margin-top: 0;
      margin-bottom: 30px;
      padding-left: 0;
      li {
        list-style-type: none;
        margin: 10px 0;

        span {
          color: #ccc;
        }
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  margin-right: 5px;
}
input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 5px 0 0;
  padding: 0;
  width: 16px;
  border-radius: 2px;
}
input[type="checkbox"]:checked + label:before {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  color: #fff;
  background-image: url(../assets/images/check.svg);
}

.color {
  ul {
    .white {
      input[type="checkbox"] {
        width: 0;
      }
      label {
        cursor: pointer;
        margin-right: 5px;
      }
      input[type="checkbox"] + label:before {
        border: 1px solid #d8d8d8;
        background-color: #fff;
        content: "\00a0";
        display: inline-block;
        height: 18px;
        margin: 0 5px 0 0;
        padding: 0;
        width: 18px;
        border-radius: 100%;
      }
      input[type="checkbox"]:checked + label:before {
        background: #fff;
        color: black;
        background-image: url(../assets/images/check2.svg);
        background-position: center;
        background-size: 11px;
        background-repeat: no-repeat;
      }
      input[type="checkbox"]:checked + label:after {
        font-weight: bold;
      }
    }
    .peach {
      input[type="checkbox"] {
        width: 0;
      }
      label {
        cursor: pointer;
        margin-right: 5px;
      }
      input[type="checkbox"] + label:before {
        border: 3px double #fff;
        background-color: #ecbbaf;
        content: "\00a0";
        display: inline-block;
        height: 18px;
        margin: 0 5px 0 -2px;
        padding: 0;
        width: 18px;
        border-radius: 100%;
      }
      input[type="checkbox"]:checked + label:before {
        background: #ecbbaf;
        background-image: url(../assets/images/check2.svg);
        background-position: center;
        background-size: 11px;
        background-repeat: no-repeat;
      }
    }
    .yellow {
      input[type="checkbox"] {
        width: 0;
      }
      label {
        cursor: pointer;
        margin-right: 5px;
      }
      input[type="checkbox"] + label:before {
        border: none;
        background-color: #fdbd4e;
        content: "\00a0";
        display: inline-block;
        height: 18px;
        margin: 0 5px 0 0;
        padding: 0;
        width: 18px;
        border-radius: 100%;
      }
      input[type="checkbox"]:checked + label:before {
        background: #fdbd4e;
        background-image: url(../assets/images/check2.svg);
        background-position: center;
        background-size: 11px;
        background-repeat: no-repeat;
      }
    }
    .sheet1 {
      input[type="checkbox"] {
        width: 0;
      }
      label {
        cursor: pointer;
        margin-right: 5px;
      }
      input[type="checkbox"] + label:before {
        border: none;
        background: linear-gradient(137.72deg, #ecf0f5 15.5%, #ccd6e6 89.81%);
        content: "\00a0";
        display: inline-block;
        height: 18px;
        margin: 0 5px 0 0;
        padding-left: 5px;
        padding: 0;
        vertical-align: top;
        width: 18px;
        border-radius: 100%;
      }
      input[type="checkbox"]:checked + label:before {
        content: url(../assets/images/check2.svg);
        text-align: center;
      }
    }
    .whitehover {
      input[type="checkbox"] {
        width: 0;
      }
      label {
        cursor: pointer;
        margin-right: 5px;
      }
      input[type="checkbox"] + label:before {
        border: 1px solid #d8d8d8;
        background: radial-gradient(
          75.91% 75.91% at 64% 75.91%,
          rgba(255, 255, 255, 0.46) 0%,
          #eaeef4 100%
        );
        content: "\00a0";
        display: inline-block;
        height: 18px;
        margin: 0 5px 0 0;
        padding: 0;
        vertical-align: top;
        width: 18px;
        border-radius: 100%;
      }
      input[type="checkbox"]:checked + label:before {
        // background: radial-gradient(
        //   75.91% 75.91% at 64% 75.91%,
        //   rgba(255, 255, 255, 0.46) 0%,
        //   #eaeef4 100%
        // );
        content: url(../assets/images/check2.svg);
        text-align: center;
      }
    }
  }
}
