@import "mixins";
@import "layout";
@import "content";
@import "aside";
@import "content-description";
@import "footer";


@font-face {
  font-family: "Circe";
  font-weight: 400;
  src: url("../assets/fonts/Circe-Regular.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Circe";
  src: url("../assets/fonts/Circe-Light.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Light.ttf");
}
